
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I KNOW YOU</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css"/>
    <script src="style.js"></script>
    <meta http-equiv="refresh"/>

    <!---------------swiper js-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</head>
<script>
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function (e) {e.preventDefault()};
</script>

<body>
    <% if(typeof result !== 'undefined'){%>
       <div class="load">
            <%-include('load.ejs') %>
       </div>
<script>
    $(document).ready(function(){
        setInterval(()=>{
            $('.load').hide('animate');
            $('#body').fadeIn();
        }, 10000)
    })
</script>
<%}%>

<div id="body">
    <nav class="navbar" id="myNavbar">
        <div class="navbar-brand">
            <h1>I KNOW YOU</h1>
            <div class="users-menu"></div>
        </div>
        <div class="navbar-nav">
        <a href="" class="navbar-item"><i class="bi bi-chat-square-text-fill"></i></a>
        <a href="#" class="navbar-item" id="gears-btn"><i class="bi bi-gear-wide-connected" id="gears"></i></a>
         <div class="gear-menu">
            <% if(typeof result !== 'undefined'){ %>
                <% result.forEach(detail => { %>
            <img src="<%=detail.pic%>" class="profile-pic"/>
           
            <h3 class="user-statuses">
               <%= detail.username %>
            </h3>

            <h3><%=detail.fname%> <%=detail.lname%></h3>
            <div class="btns">
                <a href="" class="user-button"><i class="bi-emoji-smile"></i> <span>Status</span></a>
                <a href="" class="user-button"><i class="bi-pencil-fill"></i> <span>Edit</span></a>
            </div>
            <div class="user-logout">
                <form action="/logout">
                    <input type="text" class="userid" name="userid" value="<%=detail.id%>" hidden/>
                <button class="logout-button"><i class="bi-box-arrow-in-right"></i> <span>Logout</span></button>
                </form>
            </div>
            <% }) %>
            <% } %>
         </div>   
        </div>
        </nav>
        
        
        <section>
           <div class="container">
                <h1>Messages</h1>
                <div class="swiper">
                    
                        <% if(typeof rst !== 'undefined'){%>
                            <% rst.forEach(item => {%> 
                        
                          <% }) %>
                        <% } %>
        
                    
                </div>
            </div>
        </section>
</div>

</body>
</html>